.footer {
  &__blogs {
    &_text {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: $font-size-sm;
      line-height: 21px;
      color: #2D3033;
    }

    &_date {
      padding: 8px 0;
    }
  }

  &__img {
    display: inline-block;
  }

  &__title {
    text-transform: uppercase;
    font-size: $font-size-base;
    padding: 37px 0;
    font-weight: 700;
  }
}
