.footer {
  &__instagram {
    width: 270px;
  }

  &__title {
    font-weight: 700;
    font-size: $font-size-base;
    line-height: 28px;
    text-transform: uppercase;
    padding: 37px 0;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    margin-bottom: 40px;
  }

  &__see-link {
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #2D3033;
  }
}
