.footer {
  &__instagram {
    width: 270px;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    margin-bottom: 40px;
  }

  &__see {
    &_link {
      text-decoration-line: underline;
      text-transform: uppercase;
      color: #2D3033;
    }
  }
}
