.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    gap: 500px;

    @media (max-width: 1024px) {
      gap: 340px;
    }
  }
}
