* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
}

.container {
  max-width: 1510px;
  padding: 0 170px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.stretched-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.btn {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  align-items: center;
  padding: 19px 91px;
  transition: all 0.3s;
}

.separator {
  display: inline-block;
  margin-top: 44px;
  width: 170px;
  border: 2px solid #FFFFFF;
}
@media (max-width: 1024px) {
  .separator {
    margin-top: 29px;
    width: 115px;
  }
}

.header {
  position: absolute;
  z-index: 10;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  gap: 500px;
}
@media (max-width: 1024px) {
  .header__inner {
    gap: 340px;
  }
}

.hamburger {
  display: none;
  position: relative;
  left: 61px;
  top: 23px;
}
.hamburger__line {
  width: 24px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 6px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.hamburger:hover {
  cursor: pointer;
}

.nav__link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding: 0 18px;
  width: 85px;
  position: relative;
  text-decoration: none;
}
.nav__link:hover {
  color: #F4BF87;
}
.nav__link:last-child {
  margin-right: 15px;
}
.nav__link_icon {
  height: 17px;
}
.nav__link_icon:hover {
  stroke: #F4BF87;
  fill: #F4BF87;
  background-image: #F4BF87;
}
.nav__link::after {
  content: "";
  height: 1px;
  background-color: #F4BF87;
  position: absolute;
  bottom: -5px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.nav__link:hover::after {
  width: 100%;
}
.nav__cart {
  position: absolute;
  top: 42px;
  line-height: 0.27;
  width: 25px;
  padding: 0 15px;
}
@media (max-width: 1024px) {
  .nav__cart {
    padding: 0 4px;
  }
}
.nav__seach {
  position: absolute;
  top: 42px;
  right: 35px;
  line-height: 0.27;
  width: 25px;
}
@media (max-width: 1024px) {
  .nav__seach {
    right: -80px;
    padding: 0 4px;
  }
}

.banner {
  background-image: url(../images/bg-header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  position: relative;
}
.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
}

.content {
  position: relative;
  z-index: 11;
  text-align: center;
}
.content__subtitle {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 93px;
  color: #fff;
  margin-top: 108px;
}
@media (max-width: 1024px) {
  .content__subtitle {
    font-size: 48px;
    margin-top: 52px;
  }
}
.content__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 144px;
  line-height: 176px;
  color: #fff;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .content__title {
    font-size: 96px;
    line-height: 117px;
  }
}

.content__button {
  font-size: 24px;
  background-color: transparent;
  border: 4px solid #fff;
  padding: 22px 100px;
  margin-top: 74px;
  margin-bottom: 116px;
}
@media (max-width: 1024px) {
  .content__button {
    margin-top: 50px;
    margin-bottom: 78px;
    padding: 9px 75px;
  }
}
.content__button:hover {
  background-color: #fff;
  color: #E4BE8D;
}
.content__button:active {
  color: #E4BE8D;
  background-color: #fff;
  border: 4px solid #E4BE8D;
}

.intro {
  position: relative;
  z-index: 11;
}
.intro__content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
@media (max-width: 1024px) {
  .intro__content {
    gap: 20px;
  }
}
.intro__row {
  width: 270px;
  padding: 21px 0;
  border-top: 4px solid #F9EFCF;
}
@media (max-width: 1024px) {
  .intro__row {
    padding: 7px 0;
    width: 233px;
  }
}
.intro__link {
  text-decoration: none;
  text-align: center;
  color: #F9EFCF;
  font-size: 36px;
}
.intro__link:hover {
  color: #fff;
}
.intro__link_border {
  opacity: 0;
  width: 70px;
  border: 3px solid #F38281;
  position: absolute;
  top: 0;
  left: 170px;
  transition: all 0.3s;
}
@media (max-width: 1024px) {
  .intro__link_border {
    left: 14px;
  }
}
.intro__link_border:hover {
  opacity: 1;
}
.intro__link span {
  font-size: 18px;
  text-transform: uppercase;
}

.about__content {
  text-align: center;
}
.about__subtitle {
  margin-top: 45px;
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #2D3033;
}
.about__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  margin-top: 45px;
}
.about__separator {
  border: 4px solid #F38281;
  margin-top: 24px;
}
.about__text {
  font-size: 18px;
  padding: 35px 0;
}

.team {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.team__col {
  background-color: #95E1D3;
}
@media (max-width: 768px) {
  .team__col {
    width: 100%;
    margin-bottom: 16px;
    background: none;
    display: flex;
    justify-content: center;
  }
}
.team__card {
  position: relative;
  transition: all 0.2s linear;
}
.team__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
  opacity: 0;
  transition: opacity 0.2s linear;
}
@media (max-width: 768px) {
  .team__card::after {
    opacity: 1;
    position: inherit;
    display: inline-block;
    min-height: 83px;
    max-width: 370px;
  }
}
.team__card:hover {
  transform: translate(-15px, -15px);
}
@media (max-width: 1024px) {
  .team__card:hover {
    transform: translate(-5px, -5px);
  }
}
@media (max-width: 768px) {
  .team__card:hover {
    transform: none;
  }
}
.team__card:hover::after {
  opacity: 1;
}
.team__card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 2;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s linear;
}
@media (max-width: 1024px) {
  .team__card-text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .team__card-text {
    opacity: 1;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 31px;
    justify-content: flex-start;
  }
}
.team__card:hover .team__card-text {
  opacity: 1;
}
.team__card-icon {
  width: 30px;
  height: 36px;
  display: block;
  margin-bottom: 30px;
}
.team__card-link {
  text-decoration: none;
  color: #fff;
}/*# sourceMappingURL=app.css.map */